{% extends 'temp/admin_base.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<center>
	<h2 style="font-family: 'Lucida Fax';color: whitesmoke;padding: 15px">Artist Complaint</h2>
	<table border="1" class="table table-striped table-bordered">
		<tr style="color: white">
			<th>Artist Complaint ID</th>
			<th>Complaint</th>
			<th>User</th>
			<th>Artist</th>
			<th>Date</th>
			<th>reply</th>
		</tr>
        {% for i in g %}
		<tr style="color: white">
			<td>{{ i.artist_comp_id }}</td>
			<td>{{ i.complaint }}</td>
			<td>{{ i.booking.user.username}}</td>
			<td>{{ i.artist.artistname}}</td>
			<td>{{ i.date }}</td>
			<td>{{ i.reply }}</td>
			<td style="font-weight: bold"><a href="/artist_complaint/artistcmpltreply/{{ i.artist_comp_id }}">reply</a></td>
		</tr>
        {% endfor %}
	</table>
</center>
</body>
</html>
{% endblock %}