<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
 <center>
 	<h1>Post Complaint</h1>
 	<form mathod="post">
 		<table>
    <tr><td>Booking ID</td>
    	<td><input type="number" name="bid"></td>
    </tr>

    	<tr>
    		<td>Complaint</td>
    		<td><textarea rows="4" cols="20"></textarea>
    		</td>
    	</tr>

    	<tr>
    		<td>Date</td>
    		<td><input type="Date" name="date">
    		</td>
         </tr>

    	<tr><td>Time</td>
    		<td><input type="Time" name="time"></td>
    	</tr>

    	
    		<tr><td></td><td><input type="submit" value="Post"></td></tr>
    	</table>
    </form>
 </center>

</body>
</html>