<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<center>
	<h2>View Assigned Work</h2>
	<table border="1">
		<tr><th>Assigned ID</th>
			<th>Service ID</th>
			<th>Booking ID</th>
            <th>User ID</th>
            <th>Artist ID</th>
			<th>Date</th>
			<th>Time</th>
			<th>Status</th>
			
		</tr>
		<tr style="color: white">

			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
            <td></td>
            <td></td>
			
		</tr>
	</table>
</center>
</body>
</html>