<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<center>
		<h1>Booking</h1>
		<form method="post">
			<table>
				<tr>
					<td>Service ID</td>
					<td><input type="number" name="sid"></td>
				</tr>
				<tr><td>
				Date</td>
				<td><input type="Date" name="date"></td>
			</tr>
			<tr><td>Time</td><td><input type="Time" name="time"></td>
			</tr>
			<tr><td>Status</td><td><input type="text" name="sts"></td>
			</tr>
			<tr><td></td><td><input type="Submit" name="Submit"></td></tr>
		</table></form>
	</center>

</body>
</html>