{% extends 'temp/admin_base.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<center>
		<h2 style="font-family: 'Lucida Fax';color: whitesmoke;padding: 15px">Manage Booking</h2>
		<table border="1" class="table table-striped table-bordered">
			<tr style="color: white">
				<th>Booking ID</th>
				<th>Service</th>
                <th>Artist</th>
				<th>User </th>

				<th>Date</th>
				<th>Time</th>
				<th>Status</th>
				
			</tr>
            {% for i in k %}
			<tr style="color: white">
				<td>{{ i.booking_id}}</td>
				<td>{{ i.artistservice.service.service}}</td>
                <td>{{ i.artist.artistname }}</td>
				<td>{{ i.user.username }}</td>
				<td>{{ i.date }}</td>
				<td>{{ i.time }}</td>
				<td>{{ i.status }}</td>
				
					<td><a href="/booking/approve/{{ i.booking_id}}" {% if i.status == 'Approved' %}
                            class="btn btn-group-toggle"
                   {% else %}
                        class="btn btn-primary"
                   {% endif %}>Approve</a>
					</td><td><a href="/booking/reject/{{ i.booking_id }}" {% if i.status == 'Rejected' %}
                            class="btn btn-group-toggle"
                   {% else %}
                        class="btn btn-danger"
                   {% endif %}>Reject</a></td>
				</tr>
            {% endfor %}
			</table>

	</center>

</body>
</html>
{% endblock %}