{% extends 'temp/admin_base.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<center>
	<h2 style="font-weight: bold;font-family: 'Lucida Fax';color: whitesmoke;padding: 15px">Booking</h2>
	<table border="1" class="table table-striped table-bordered">
		<tr style="color: white">
			<th>Booking ID</th>
            <th>Service</th>
			<th>Artist</th>
			<th>User</th>
			<th>Date</th>
			<th>Time</th>
			<th>Status</th>
		</tr>
        {% for i in k %}
		<tr style="color: white">
			<td>{{ i.booking_id}}</td>
            <td>{{ i.artistservice.service.service}}</td>
			<td>{{ i.artistservice.artist.artistname}}</td>
			<td>{{ i.user.username }}</td>
			<td>{{ i.date }}</td>
			<td>{{ i.time }}</td>
			<td>{{ i.status }}</td>
        <td><a href="/assigned_work/assignedwork/{{ i.booking_id }}" >Assign</a> </td>
			
		</tr>
        {% endfor %}
	</table>
</center>
</body>
</html>
{% endblock %}